{% extends "smaug_base.html" %}

{% block title %}Request details{% endblock %}


{% block content %}
    <h1>Request details</h1>

    <div class="container">
    <form class="form-horizontal" method="post" action="/user/requests/{{ details.request_id }}">
        {{ offer_selection_form.csrf_token }}
        <div class="form-group row">
            <label class="control-label col-sm-2" for="id">Request ID</label>
            <div class="col-sm-10">
                <input id="id" class="form-control" readonly="readonly" type="text" value="{{ details.request_id }}">
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="id">Locker ID</label>
            <div class="col-sm-10">
                <input id="id" class="form-control" readonly="readonly" type="text" value="{{ details.locker_id }}">
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="deadline">Deadline</label>
            <div class="col-sm-10">
                <input id="deadline" class="form-control" readonly="readonly" type="text" value="{{ details.deadline }}">
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="start_rent">Start of rent</label>
            <div class="col-sm-10">
                <input id="start_rent" class="form-control" readonly="readonly" type="text" value="{{ details.start_of_rent }}">
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="end_rent">End of rent</label>
            <div class="col-sm-10">
                <input id="end_rent" class="form-control" readonly="readonly" type="text" value="{{ details.end_of_rent }}">
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="cost_per_minute">Cost per minute</label>
            <div class="col-sm-10">
                <input id="cost_per_minute" class="form-control" readonly="readonly" type="text" value="{{ details.cost_per_minute }}">
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="rules">Instant rent rules</label>
            <table id="rules" class="table" style="max-width: 400px; min-width: 400px; margin-left: 0;">
                <thead>
                    <tr>
                        <th>Time (min)</th>
                        <th>Cost</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rule in details.instant_rent_rules %}
                        <tr>
                            <td>{{ rule[0] }}</td>
                            <td>{{ rule[1] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="rules">Offers</label>

            <table id="offers" class="table" style="max-width: 800px;margin-left: 0;">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Offer start time</th>
                        <th>Duration</th>
                        <th>Price offered</th>
                        <th>Encryption key</th>
                        <th>Authentication key</th>
                        {% if allow_offer_selection %}
                            <th>Select winning offer(s)</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for offer in details.offers %}
                        <tr style="{% if offer.accepted|string() == 'True' %}background-color: lightgreen{% endif %}">
                            <td>{{ offer.id }}</td>
                            <td>{{ offer.start_time }}</td>
                            <td>{{ offer.duration }}</td>
                            <td>{{ offer.price_offered }}</td>
                            <td>{{ offer.encryption_key }}</td>
                            {% if offer.authentication_key == 0 %}
                                <td>Not defined</td>
                            {% else %}
                                <td>{{ offer.authentication_key }}</td>
                            {% endif %}
                            {% if allow_offer_selection %}
                                <td><input id="select_{{ offer.id }}" name="select" type="checkbox" value="{{ offer.id }}"></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>

        <div class="form-group row">
            {% if allow_offer_selection %}
                <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Select winning offer(s)">
            {% endif %}
            <a href="{{ return_url }}" class="btn btn-default" role="button">Return</a>
        </div>
    </form>

    </div>



{% endblock %}
